{% extends "partials/base.html.twig" %}

{% block title %}404 Page not found...{% endblock %}

{% block body %}
    <div class="jumbotron bg-transparent">
        <div class="container text-center pt-5">
            <h2>Error 404</h2>
            <p class="lead">
                The page {{ request }} don't exist...
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
