{% extends "partials/base.html.twig" %}

{% block title %}Artists list{% endblock %}

{% block body %}
    <div class="container text-center mtop mb">
        <h2>List of Artists</h2>
        <p></p>
        <table class="table w-50 mx-auto table-bordered table-dark  table-sm table-hover">
            <thead>
            <tr class="bg-danger">
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Birth day</th>
            </tr>
            </thead>
            {% for person in arrayArtists %}
                <tbody>
                <tr>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.lastname }}</td>
                    <td>{{ person.birthdate }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
