{% extends "partials/base.html.twig" %}

{% block title %}Director list{% endblock %}

{% block body %}
    <div class="container text-center table-style">
        <h2>Director list</h2>
        <table class="w-50 mx-auto bg-white table table-striped table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Birth day</th>
            </tr>
            </thead>
            {% for director in arrayDirectors %}
                <tbody>
                <tr>
                    <td>{{ director.lastname }}</td>
                    <td>{{ director.firstname }}</td>
                    <td>{{ director.birthdate }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
