{% extends "partials/base.html.twig" %}

{% block title %}Actors{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="assets/css/style.css" />
{% endblock %}
{% block body %}

Je suis le genre
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small color-dark pt-4 fixed-bottom">
  <!-- Copyright -->
  <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
    <a href="https://github.com/Etienne-Schmitt/ACS-MovieRating" target="_blank"> MovieRating</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock %}
