{% extends "partials/base.html.twig" %}

{% block title %}Home{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<h1>Welcome</h1>
{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
{% endblock %}