{% extends "partials/base.html.twig" %}

{% block title %}Home{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="assets/css/style.css" />
{% endblock %}

{% block header %}
<header id="header">
    <nav class="navbar navbar-expand-sm navbar-dark color-dark">
        <a class="navbar-brand" href="#">MovieRating</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHide" aria-controls="navbarHide" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHide">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="">home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{baseUrl}}/actor">Actor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{baseUrl}}/genre">Genre</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="{{baseUrl}}/director">Director</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}

{% block body %}


{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small color-dark pt-4 fixed-bottom">
  <!-- Copyright -->
  <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
    <a href="https://github.com/Etienne-Schmitt/ACS-MovieRating" target="_blank"> MovieRating</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}