.bg-blue {
  background-color: #DAE0FF;
}

.back_page {
  background-color: lightblue;
}

@media (min-width: 1200px) {

  .img-size {
    height: 370px;
  }

  .card-size {
    height: 90px;
  }

}

@media (max-width: 1200px) {
  .img-size {
    height: 250px;
  }

  .card-size {
    height: 90px;
  }
}