body {
    font-family: sans-serif;
      background: url('../img/bg.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
 color:#fff;
  }

  a:hover{

    color:#f1c40f;
  }
  .color-dark {
      background-color: #000!important
}
.card-img-top {
    width: 100%;
    height: 42vh;
    object-fit: cover;
  }
.mt{

    margin-top: 20%;
}
.mtop{

  margin-top:12%;
}
.mtop2{
  margin-top:5%;
}

}  
.mb{
  margin-bottom: 6%;
}
.title {
  
    position: relative;
    font-family: Baskerville, "EB Garamond", serif;
    font-size: 60px;
    color: white;
}

